*.[oa]
*.in
*~
*.l[oa]
Makefile
.deps
.libs
configure
aclocal.m4
autom4te.cache/
config.h
config.log
config.status
config/config.guess
config/config.sub
config/depcomp
config/ltmain.sh
libtool
m4/l*
stamp-h1
.cproject
.project
.settings/
.autotools
etc/common.conf
etc/histlog.conf
etc/opendax.conf
*.tar.gz
src/lib/python/Makefile.am
src/lib/python/Makefile.bak
src/lib/python/build/
src/lib/python/dist/
src/master/opendax
src/modules/arduino/arduino
src/modules/daxc/daxc
src/modules/daxlua/daxlua
src/modules/histlog/histlog
src/modules/modbus/modbus
src/modules/skel/skel
src/modules/test/badmodule
src/modules/test/daxtest
src/modules/wio/wio
src/server/tagserver
